.accountRecord{
    width: 50%;
    display: flex;
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    padding-inline: 2rem;
}
.accountRecordBalance{
    color: red;
}
@media (max-width: 1024px) {
    .accountRecord{
        width: 100%;
    }
}