.signUpPageContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signUp{
    width: 30%;
    background-color: rgba(66,165,245,0.2);
    border-radius: 20px;
    padding: 2rem;
}
.signUpIntro{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}
.signUpIntro p{
    margin: 0;
}
.signUpHeading{
    font-size: 2.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 0.5rem;
}
.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.2rem;
}
.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading p{
    color: #1976d2;
    font-size: 3rem;
    font-weight: 600;
}
.alreadyRegistered{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alreadyRegistered p{
    margin-bottom: 0;
}
.alreadyRegistered p span{
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    cursor: pointer;
}

/* tablet screen and below */
@media screen and (max-width: 820px) {
    .signUp{
        width: 80%;
    }
}