/* remove default icon */
.css-yzjoij svg{
    display: none;
}
.MuiTypography-root {
    font-family: 'Montserrat'!important;
}
/* .css-1je49cu-MuiTypography-root {
    visibility: hidden;
}
.MuiTypography-root.MuiTypography-h6.css-1je49cu-MuiTypography-root::before {
    content: "creditflow";
    visibility: visible;
} */
